@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Noto+Serif+Balinese&family=Poppins:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image:url(pics/benthouard_UnderwaterWorld.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 4% 71%;
}
#content_2 ,
#content_3 ,
#content_4,
#content_5{
    display: none ;
}
/* header design */
.btns{
    justify-content: space-between;
    margin-right: 2rem;
}
a{
    text-decoration: none;
    color: white;
}
.button{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Poppins";
    cursor: pointer;
    padding: 0 1rem;
    color: white;
    position: relative;
    width: 8rem;
}
header button:hover{
    text-decoration: underline 2px white;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding-left: 2rem;
}
/* home page */
.title{
    color: white;
    font-family: "Poppins";
    font-size: 3.4rem;
    font-weight: 900;
    width: fit-content;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 20%;
}
.welcome-home{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 50rem;
    text-align: center;
    position: absolute;
    left: 35%;
    bottom: 23%;
}
footer{
    color: white;
    position: absolute;
    top:calc(96%);
    left: 40%;
}
/* travel page */
#content_2{
    border-radius: 90px;
    backdrop-filter: blur(3.5px);
    padding: 1.5rem;
    margin: 0.8rem;
    grid-template-columns: auto 2rem auto 2rem auto ;
    grid-template-rows: auto 1rem auto 2rem auto 2rem auto;
    grid-template-areas:
    " h h  h  h  h"
    ".  .  .   .  . "
    "p1 . p2 .  p3 "
    ".  .  . .  . " 
    "p4 . p5 .  p6 "
    ".  .  .  .  . " 
    "p7 . p8  . p9 "
    ;
}
.place1{
    grid-area: p1;
}
.place2{
    grid-area: p2;
}
.place3{
    grid-area: p3;
}
.place4{
    grid-area: p4;
}
.place5{
    grid-area: p5;
}
.place6{
    grid-area: p6;
}
.place7{
    grid-area: p7;
}
.place8{
    grid-area: p8;
}
.place9{
    grid-area: p9;
}
#content_2 h1{
    grid-area: h;
    text-align: center;
    font-size: 4rem;
    color: rgba(4, 5, 69, 0.803);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#content_2 img{
    width: 20rem;
    height: 10rem;
    border-radius: 40px;
    box-shadow: 6px 6px 28px -1px rgb(156, 158, 177);
}
#content_2 img:hover{
    transform: scale(1.1);
    transition: 0.1;
}
#content_2 p span{
    color: rgb(0, 255, 174);
    font-family: "Lora";
    font-weight: 600;
}
#content_2 p{
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: "poppins";
    text-align: justify;
    margin-top: 1rem;
}
#content_2 div{
    text-align: center;
}
/* activity page */
.activ{
    text-align: center;
    font-size: 4rem;
    color: rgba(4, 5, 69, 0.755);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    display: flex;
    margin-left: 2rem;
    text-align: center;
    height: 450px;
}
.content div img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 20px 20px 50px black;
}

.content div p{
    color: aliceblue;
    text-align: justify
}
.content div{
    margin-left: 2rem;
    margin-right: 2rem;
}
.content div button{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: black;
    margin-bottom: 3rem;
}
.content div button:hover{
    background-color: #0097b2;
    color: white;
    transform: scale(1.3);
}
.content div i{
   color: yellow;
}
.content div i:hover{
    transform: scale(1.2);
}
.content div h4{
    color: white;
    font-weight: bold;
}
/* animals page */
#content_4 h2{
    font-size: 1.8rem;
    color: rgba(4, 7, 49, 0.874);
    letter-spacing: -0.1rem;
    font-family: 'Lora';
    font-weight: 900;
    text-align: center;
}
#content_4 img{
    position: absolute;
}
#content_4 img:hover{
    transform: scale(1.1);
    transition: 1.5;
}
.animal1{
    top: 73%;
    left: 22%;
}
.animal2{
    top: 63%;
    left: 42%;
}
.animal3{
    top: 53%;
    left: 32%;
}
.animal4{
    top: 53%;
    left: 2%;
}
.animal5{
    top: 83%;
    left: 52%;
}
.animal6{
    top: 40%;
    right: 10%;
}
.animal7{
    top: 13%;
    left: 62%;
}
.animal8{
    width: 32rem;
    top: 30%;
    left: 44%;
}
.animal9{
    top: 14%;
    left: 2%;
}
.animal10{
    top: 87%;
    left: 37%;
}
.animal11{
    width: 7rem;
    top: 77%;
    left: 67%;
}
.animal12{
    width: 10rem;
    top: 59%;
    left: 77%;
}
/* about */
/* socialmedia */
.social {
    position: fixed;
    top: 30vh;
    left: 15px;
}
.social ul {
    padding: 0px;
    transform: translate(-260px, 0);
}
.social ul li {
    list-style: none;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
}
.social ul li:hover {
    transform: translate(110px, 0);
    background: #0097b240;
}

.social ul li:hover a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 19px;
}
.social ul li:hover i {
    background: #fff;
    transform: rotate(360deg);
    transition: all 1s;
}

.social ul li:hover .fa-instagram{
    color:#E1306C;
}
.social ul li:hover .fa-github{
    color:#6e5494;
}
.social ul li:hover .fa-facebook{
    color:#0e127b;
}
.social ul li:hover .fa-twitter{
    color:#1DA1F2;
}
.social ul li:hover .fa-linkedin-in{
    color:#0077b5;
}
.social ul li i {
    margin-left: 10px;
    color: #fff;
    background: #000;
    padding: 6px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 30px;
    transform: rotate(0deg);
}
/* about-content */
#content_5{
    justify-content: center;
    margin-left: 4rem;
}
.picpara{
    padding: 50px 100px;
 }
#content_5 img{
    width: 500px;
    height: 500px;
    float: right;
}
.para h1{
    font-family: "Lora";
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
 }
.para h1 span{
    color: white;
    font-size: 6rem;
 }
#content_5 p{
    font-family: "";
    word-spacing:  7px;
    font-size: 17px;
    color: white;
    font-weight: bold;
 }
 .para {
    text-align: center;
 }
 .para button{
    width: 250px;
    height: 40px;
    border-radius: 30px;
 }
.para button:hover{
    background-color: #0097b2;
    transform: scale(1.1);
    color: white;
 }
 .container{
   text-align: center;
   justify-content: center;
   margin-bottom: 2rem;
}
form{
    width: 700px;
    height: 500px;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 4rem;
    box-shadow: 20px 20px 50px black;
    border-radius: 60px;
    backdrop-filter: blur(7px);
   
}
input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
}
textarea{
    width: 600px;
    height: 200px;
    border-radius: 10px;
}
input::placeholder{
    text-align: center;

}
#btn:hover{
    background-color: #0097b2;
    transform: scale(1.1);
}
@media screen and (max-width:983px){
    #content_1{
        justify-content: center;
        display: grid;
        grid-template-columns: 3rem auto 3rem ;
        grid-template-rows: auto 6rem auto 10rem auto;
        grid-template-areas: 
        ". DBD ."
        " . .  . "
        "tex tex tex "
        " . .  ."
        " cp cp  cp ";
    }
    .title{
        margin-top: 4rem;
        justify-self: center;
        position: static;
        text-align: center;
        grid-area: DBD;
        font-size: 2rem;
        font-weight: 800;
    }
    .welcome-home{
        position: static;
        grid-area: tex;
        font-size: 1rem;
        width: auto;
    }
    footer{
        grid-area: cp;
        text-align: center;
        position: static;
    }
   /* travel page */
    #content_2{
        width: fit-content;
        grid-template-columns: auto 2rem auto  ;
        grid-template-rows: 2rem 1rem auto 3rem auto 3rem auto 3rem auto 2rem auto;
        grid-template-areas:
        " h  h  h "
        ".  .  .  "
        "p1 . p2"
        ".  .  . " 
        "p3  . p5 "
        ".  .  . " 
        "p4 .  p6 "
        ".  .  . "
        "p7 .  p8 "
        ".   .  . "
        "p9  p9 p9 "
        ;
    }
    #content_2 img{
        width: calc(100% - 2rem);
        height: 9rem;
    }
    #content_2 p{
        font-size: 1px;
        font-weight: 500;
    }
    #content_2 h1{
        font-size: 2rem;
    }
    #content_4 h2{
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    #content_4 img{
        position: absolute;
    }
    .animal1{
        width: 4rem;
        top: 113%;
        left: 22%;
    }
    .animal2{
        top: 65%;
        left: 42%;
    }
    .animal3{
        width: 4rem;
        top: 131%;
        left: 12%;
    }
    .animal4{
        top: 53%;
        left: 1%;
    }
    .animal5{
        top: 133%;
        left: 72%;
    }
    .animal6{
        top: 39%;
        right: 1%;
    }
    .animal7{
        width: 13rem;
        top: 47%;
        left: 52%;
    }
    .animal8{
        width: 33rem;
        top: 73%;
        left: 12%;
    }
    .animal9{
        width: 30rem;
        top: 20%;
        left: 2%;
    }
    .animal10{
        width: 4rem;
        top: 129%;
        left: 37%;
    }
    .animal11{
        width: 7rem;
        top: 117%;
        left: 57%;
    }
    .animal12{
        width: 7rem;
        top: 117%;
        left: 77%;
    }
    /* activity */
    /* #content_4{
        grid-template-columns: auto 1rem auto;
        grid-template-rows: auto 1rem auto 2rem auto 2rem auto 2rem auto;
        grid-template-areas: 
        "activ activ activ"
        " .    .   . "
        "p1 . p2"
        " .    .   . "
        "p3  . p4"
        " .    .   .  "
        "p5  .  p6 "
        ;
    }
    .activ{
        grid-area: activ;
    }
    .pic1{
        grid-area: p1;
    }
    .pic2{
        grid-area: p2;
    }
    .pic3{
        grid-area: p3;
    }
    .pic4{
        grid-area: p4;
    }
    .pic5{
        grid-area: p5;
    }
    .pic6{
        grid-area: p6;
    } */
    /* about */
    .para p{
        margin-top: 5rem;
    }
    .picpara{
        padding: 0;
    }
    #content_5 img{
       display: none;
    }
    #contact{
        justify-content: center;
        width: 4rem;
    }
    form{
        align-items: center;
        margin: 0;
        margin-left: 4rem;
        margin-top: 3rem;
        width: 500px;
    }
    textarea{
        width: 20rem;
    }
}